div {
display: flex; 
}

img {
margin-right: 30px;
}

h1 {
color: #000;
    line-height: 1;
    text-transform: uppercase;
    color: #252525;
    font-size: 28px;
    font-family: "abinbevheadlines",Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}
p { font-family: "Lato",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
} 

div.a {

   -webkit-text-decoration-line: overline; /* Safari */
   text-decoration-line: overline; 
   
   
}




